.content {
    text-align: center;
}

.battle-field {
    position: relative;
    display: inline-block;
}

.jumbotron.header {
    height: 120px;
    padding: 16px 0 0 0;
}

.jumbotron.header .header-text {
    font-size: 36px;
    padding: 0;
}

.header-text {
    text-align: center;
}

.b-card {
    width: 120px;
    height: 120px;
    border: 1px solid #666;
    display: inline-block;
    position: relative;
}

.p-card {
    width: 120px;
    height: 120px;
    border: 1px solid #666;
    margin-bottom: 5px;
    position: relative;
}

.p-card img, .b-card img {
    max-width: 100%;
    max-height: 100%;
}

img.card-image {
    width: 120px;
    height: 120px;
    vertical-align: inherit;
}

.player-cards {
    text-align: center;
}

.player-mana {
    margin-top: 20px;
}

.col {
    display: inline-block;
}

.enemy-cards, .player-cards {
    text-align: center;
}

#players-hp {
    position: absolute;
    top: 50%;
    left: -52px;
    margin-top: -57px;
}

#enemy-hp, #player-hp {
    border: 1px solid #666;
    padding: 10px;
    font-size: large;
    margin-bottom: 10px;
}

.school {
    width: 120px;
    height: 30px;
    border: 1px solid #666;
    margin-bottom: 5px;
    padding: 3px 0;
}

.enemy-mana {
    text-align: center;
    margin-bottom: 10px;
}

.p-card {
    background-size: cover;
}

.attack, .life, .cost {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #666;
}

.attack {
    bottom: 0;
}

.life {
    bottom: 0;
    right: 0;
}

.cost {
    right: 0;
}

.block-div {
    z-index: 25;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}

.card-image {
    cursor: pointer;
}

.spell:hover {
    box-sizing: border-box;
    outline: solid 10px #f80;
    outline-offset: -10px;
}

.spell:active {
    box-sizing: border-box;
    outline: solid 10px red;
    outline-offset: -10px;
}